.ajout{
  margin-top: 80px;

  display: flex;
  flex-direction: column;
  align-items: center;
  
  h2{
    margin: 10px 0;
  }
  
  form{

    display: flex;
    flex-direction: column;

    width: 300px;

  }

  a{
    align-self: flex-end;
    .btn-envoyer{
      padding: 5px 40px;
      background-color: $color-button-normal;

      &:hover{
        background-color: $color-button-hover;
        transition: 0.8s;
      }
    }
  }

}



@media screen and (min-width: $breakpoint-md) {
  .ajout{

    form{

      display: flex;
      flex-direction: column;

      width: 500px;

    }

  }

}