.articles {

  & > div {
    background-color: $white;
    box-shadow: 0 0 60px -13px rgba(36, 48, 94, 1);
    padding: 20px 15px;
  }

  a {

    article {

      color: $color-text-normal;
      margin: 0 5px 30px 5px;

      .date-et-categorie {
        display: flex;
        flex-direction: row;

        font-size: rem(14);
        margin: 15px 0 10px 0;

        p {
          margin: 0;

          &.tiret {
            margin: 0 3px;
          }
        }
      }

      h2 {
        margin: 0;
      }

      img {
        display: block;
      }

      h3.auteur {

        margin: 7px 0 auto 0;

      }

      div.droite {

        margin-top: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;

        button {

          display: flex;
          justify-content: center;
          align-items: center;
          padding: 5px 30px;

          background-color: inherit;

          border: 2px solid $rose;
          border-radius: 10px;

          font-weight: 700;
          color: $rose;

          &:hover {
            border-color: $rose-fonce;
            color: $rose-fonce;
            transition: 0.5s;
          }

          i {
            padding-left: rem(5);
            font-size: rem(10);
          }
        }

      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}

@media screen and (min-width: $breakpoint-md) {

  .articles {
    div:first-child {
      display: flex;
      flex-wrap: wrap;
    }

    a {
      flex: 1 0 40%;
    }
  }

}

@media screen and (min-width: $breakpoint-lg) {

  .articles {
    & + div {
      display: flex;
      flex-wrap: wrap;
    }

    a {
      flex-basis: 33.3333%;

    }

    div.droite {

      justify-content: flex-end !important;
    }
    }

  }


