.connexion-modale {

  position: fixed;
  z-index: 100;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  overflow-y: auto;

  background-color: rgba(0, 0, 0, 0.5);

  display: none;
  justify-content: center;
  align-items: flex-start;

  &.open {
    display: flex;

    .connexion {
      top: 100px;
      margin: 10px;
    }
  }

  .connexion {

    padding: rem(30);
    position: relative;

    background-color: $white;

    width: 500px;

    .logo{
      color:$bleu-plus-fonce;
    }

    .btn-close {
      position: absolute;
      right: 10px;
      top: 10px;

      width: 40px;
      height: 40px;

      background-color: inherit;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        cursor: pointer;
        color: $rose-fonce;
        transition: all 0.8s ease;
      }
    }

    h1 {
      text-align: center;
      font-size: rem(30);
    }

    h2 {
      margin: 10px 0;
      text-align: center;
    }


    i {
      font-size: rem(30);
      margin-right: 10px;
    }

  }

  .form-connexion {

    display: flex;
    flex-direction: column;

    input[type="text"], input[type="password"] {

      border: none;
      border-radius: 0;
      outline: none;
      border-bottom: 2px solid $rose-fonce;

      background-color: inherit;
    }

    input[type="text"]:invalid, input[type="password"]:invalid {
      box-shadow: none;
    }

    input[type="text"]:focus, input[type="password"]:focus {
      border-color: $rose-pale;
      transition: all 0.8s ease;
    }

    .btn-envoyer {
      padding: 10px;
      background-color: $rose-fonce;
      color: $white;

    }

    .btn-envoyer:hover {

      background-color: $rose;
      transition: all 0.8s ease;

    }

  }

}
