footer{

  background-color: $bleu-fonce;

  color: $white;

  div:first-child{
    display: flex;
    justify-content: space-between;
    align-items: center;


    div.retour{
      width: 35px;
      height: 35px;

      right: 15vw;
      bottom: 20px;

      font-size: rem(20);

      color: $white;
      border: solid $white 4px;
      border-radius: 100%;

      display: flex;
      justify-content: center;
      align-items: center;
    }

    div.retour:hover{
      color: $rose;
      border-color: $rose;
    }


  }

}