.header-page {
  background-color: $bleu-plus-fonce;

  position: fixed;
  top:0;
  width: 100%;



  .haut-menu{
    display: flex;
    flex-direction: row;

    justify-content: space-between;
  }


  nav{


    label.show-menu{

      display: flex;
      justify-content: center;
      align-items: center;

      color: $white;

      font-size: rem(30);

      padding: 10px 0;
    }


    //rendre menu visible

    .toggle-menu:checked + ul{
      display: flex;
      flex-direction: column;
    }


    //bouton check invisible

    .toggle-menu{
      display: none;
    }

    ul{
      list-style: none;
      padding: 0;

      width: 100%;
      text-align: center;

      display: none;

      li{

        &.active-page{
          background-color: rgba(55,71,133,0.4);
        }

        &:hover{
          background-color: rgba(55,71,133,0.2);
          transition:0.5s;
        }

        &>ul{
          display: none;
          background-color: $bleu-fonce;

        }

        &:hover>ul{
          display: block;

          li:hover{
            background-color: $bleu-moyen;
            transition: 0.8s
          }
        }

      }

    }

  }

}



@media screen and(min-width: $breakpoint-sm) {

  .header-page {


    nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;


      label.show-menu {
        display: none;
      }

      .toggle-menu + ul {
        display: flex;
        flex-direction: row !important;
      }

      ul {
        width: auto;
        display: flex;
        align-items:center;

        a {
          padding: 5px 20px;
        }

        li {
          position: relative;

          & > ul {
            position: absolute;
            min-width: 120px;
          }
        }

      }

    }
  }
}