.hero{

  margin: 60px 5px 0 5px;
  background: url("../images/hero@1x-768.jpg") center/cover no-repeat;
  min-height: 350px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  span{

    color: $white;
    font-size: rem(30);
    padding: rem(5) rem(15);

  }
}



@media (min-resolution: 192dpi){
  .hero{
    background-image: url("../images/hero@2x-768.jpg");
    min-height: 350px;
  }
}



@media screen and (min-width: 769px){

  .hero{
    background-image: url("../images/hero@1x-992.jpg");
    min-height: 600px;

    span{
      border-bottom: 2px solid $white;
      padding: rem(5);
    }
  }

  @media (min-resolution: 192dpi){
    .hero{
      background-image: url("../images/hero@2x-992.jpg");
      min-height: 600px;
    }
  }
}


@media screen and (min-width: 993px){

  .hero{
    background-image: url("../images/hero@1x-1200.jpg");
    min-height: 800px;

    span{
      border-bottom: 2px solid $rose;
    }
  }

  @media (min-resolution: 192dpi){
    .hero{
      background-image: url("../images/hero@2x-1200.jpg");
      min-height: 800px;
    }
  }
}