.inscription {

  margin-top: 80px;

  form{
    display: flex;
    justify-content: center;
    flex-direction: column;

    .col-gauche, .col-droite{
      display: flex;
      flex-direction: column;


      a{
        //align-self: center;
        width: 100%;

        .btn-envoyer{
          padding: 5px 50px;
          width: 100%;
          color: $white;
          background-color: $rose-fonce;

          &:hover{
            background-color: $rose;
            transition: 0.8s;
          }
        }

      }


    }


  }

}

@media screen and (min-width: $breakpoint-md) {

  .inscription {
    form {
      flex-direction: row;
      justify-content: space-evenly;
    }

    .col-gauche, .col-droite{
      display: flex;
      flex-direction: column;

      width: 350px;

    }
  }

}

