.profil {

  margin-top: 80px;

  ul {

    padding: 0;
    list-style: none;
    text-align: left;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    li {
      display: flex;
      width: 280px;
      flex-direction: column;

      & p:first-child {

        margin: 0;
        font-weight: 700;

      }


      & p:last-child {

        margin: 5px 0 10px 0;
      }

      &:first-child {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

    }

  }

  .conteneur-avatar {
    width: 150px;
    height: 150px;
    position: relative;
    z-index: -100;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;

    img {
      display: inline;
      margin: 0 auto;
      height: 100%;
      width: auto;
    }
  }

  .conteneur-bouton {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 15px;

    button {

      border: none;
      border-radius: 10px;
      padding: 5px 40px;
      background-color: $color-button-normal;

      &:hover {
        background-color: $color-button-hover;
        transition: 0.8s;
      }
    }
  }

}

@media screen and (min-width: $color-button-hover) {
  .profil {
    ul {
      justify-content: center;
      align-items: center;
      text-align: left;

      li {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 400px;

        margin-bottom: 10px;

        p {

          &:first-child {
            width: 200px;
            text-align: right;
            margin: 0 5px 0 0;

          }

          &:last-child {
            width: 200px;
            text-align: left;
            margin: 0 0 0 5px;
          }

        }

      }

    }

  }
}

@media screen and (min-width: $breakpoint-md) {
  .profil {
    .conteneur-avatar {
      width: 300px;
      height: 300px;
    }
  }
}

