.un-article{
  margin-top: 60px;

  .auteur{

    text-decoration: none;
    color: $color-text-normal;

    margin: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;

    .conteneur-avatar {
      width: 70px;
      height: 70px;
      position: relative;
      overflow: hidden;
      border-radius: 50%;

      img {
        display: inline;
        margin: 0 auto;
        height: 100%;
        width: auto;
      }
    }
    .infos-auteur{
      display: flex;
      flex-direction: column;
      align-items: center;

      hr{
        width: 50%;
        margin: 0;
        color: $rose;
      }

      h3{
        margin: 10px;
      }

      p{

        margin: 5px;
        font-size:rem(14);

      }


    }

  }

}



@media screen and (min-width: $breakpoint-sm) {

  .un-article{
    .contenu-article{
      display: flex;
      flex-direction: row;

      .infos-auteur{
        width: 250px;

      }
    }
  }

}