label,
button,
input,
optgroup,
select,
textarea {
  color: $base-input-color;
  font: inherit;
  margin: 0;
  border-radius: 0;
  transition: .3s all;
}

// Inputs

input, textarea{
margin: rem(8) 0 rem(15) 0;
}



[type="text"],
[type="email"],
[type="password"],
[type="tel"],
[type="number"],
[type="date"],
[type="search"]{
  height: $base-input-height;
  padding: 8px;
  background-color: $base-input-background-color;
  border: $base-input-border-size solid $bleu-moyen;
  border-radius: $base-input-border-radius;
  -webkit-appearance: none;
  -moz-appearance: textfield;

  &:focus {
    box-shadow: 0 0 20px 0 rgba(16,82,112,0.5);
    background-color: $base-input-background-focus-color;
    border-color: $base-input-border-focus-color;
    outline: 0;
  }
}


label{
  font-weight: 700;
}


// Textarea
textarea {
  padding: 8px;
  background-color: $base-input-background-color;
  border: $base-input-border-size solid $bleu-moyen;
  border-radius: $base-input-border-radius;
  overflow: auto;
  &:focus {
    box-shadow: 0 0 20px 0 rgba(16,82,112,0.5);
    background-color: $base-input-background-focus-color;
    border-color: $base-input-border-focus-color;
    outline: 0;
  }
}

// Select
select {
  text-transform: none;
  height: $base-input-height;
  padding: 0 8px;
  background-color: $base-input-background-color;
  border: $base-input-border-size solid $base-input-border-color;
  border-radius: $base-input-border-radius;
  &:focus {
    background-color: $base-input-background-focus-color;
    border-color: $base-input-border-focus-color;
    outline: 0;
  }
}

// Buttons
button {
  border-radius: 0;
  overflow: visible;
  text-transform: none;
  cursor: pointer;
}

.disabled,
[disabled] {
  opacity: .4;
  user-select: none;
  pointer-events: none;
  cursor: not-allowed;
}

// Placeholders
::placeholder {
  color: $base-input-placeholder-color;
  font-size: rem(14);}


[type="submit"]{
  border: none;
  border-radius: 10px;
  cursor: pointer;
}