// LES STYLES DE BASE DES BALISES <h>


h1{
  font-size: rem(22);
  font-family: $ff-logo;
  margin: 14px 0;
  font-weight:normal;
}

h2{
  font-size: rem(20);
  font-family: $ff-titre;
  font-weight: bold;
}

h3{
  font-size: rem(17);
}



.inscription h2, .profil h2, .ajout h2{


    text-align: center;


}
