//FICHIER DE CONFIGURATION POUR LES VARIABLES DE COULEUR

// Couleur de base 
$white: #fbffff;
$gray-100: #e8f1fa;
$gray-200: #dcdfef;
$gray-300: #c5d6e6;
$gray-400: #a9c0da;
$gray-500: #99a9bd;
$gray-600: #5a677d;
$gray-700: #353d46;
$gray-800: #323f49;
$gray-900: #212529;
$black: #0c1020;

$bleu-pale: #a8d0e6;
$bleu-moyen: #374785;
$bleu-fonce: #24305e;
$bleu-plus-fonce: #0d1629;

$rose-plus-pale: #ffc1c6;
$rose-pale: #ff959a;
$rose:#f76c6c;
$rose-fonce: #b32c3c;

$color-principal: $bleu-fonce;

$color-button-normal:$rose-pale;
$color-button-hover:$rose-plus-pale;


$color-text-normal: $gray-800;

$color-bg-page: $white;

//$color-bg-light: $gray-100;

$color-link: $gray-100;
$color-link-visited: $color-link;
$color-link-hover: darken($color-link, 5%);
$color-link-active: darken($color-link, 15%);
$color-link-focus: $color-link;


//Couleurs pour formulaire
$base-input-placeholder-color:                  $gray-600;
$base-input-color:                              $color-text-normal ;
$base-input-background-color:                   $white ;
$base-input-background-focus-color:             $white ;
$base-input-border-color:                       $white ;
$base-input-border-focus-color:                 $bleu-plus-fonce;
$base-select-box-height: 36px;



//Couleurs des médias sociaux
$color-facebook: #3b5999;
$color-messenger: #0084ff;
$color-twitter: #55acee;
$color-linkedin: #0077B5;
$color-skype: #00AFF0;
$color-dropbox: #007ee5;
$color-wordpress: #21759b;
$color-vimeo: #1ab7ea;
$color-slideshare: #0077b5;
$color-vk: #4c75a3;
$color-tumblr: #34465d;
$color-yahoo: #410093;
$color-googleplus: #dd4b39;
$color-pinterest: #bd081c;
$color-youtube: #cd201f;
$color-stumbleupon: #eb4924;
$color-reddit: #ff5700;
$color-quora: #b92b27;
$color-yelp: #af0606;
$color-weibo: #df2029;
$color-producthunt: #da552f;
$color-hackernews: #ff6600;
$color-soundcloud: #ff3300;
$color-blogger: #f57d00;
$color-whatsapp: #25D366;
$color-wechat: #09b83e;
$color-line: #00c300;
$color-medium: #02b875;
$color-vine: #00b489;
$color-slack: #3aaf85;
$color-instagram: #e4405f;
$color-dribbble: #ea4c89;
$color-flickr: #ff0084;
$color-foursquare: #f94877;
$color-behance: #131418;
$color-snapchat: #FFFC00;
